aiohttp==3.7.4
aiosqlite==0.11.0
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
discord.py==1.6.0
idna==2.9
more-itertools==8.2.0
multidict==4.7.5
packaging==20.3
pluggy==0.13.1
py==1.10.0
pydest==0.3.0
pyparsing==2.4.6
pytest==5.4.1
pytest-mock==2.0.0
six==1.14.0
wcwidth==0.1.8
websockets==8.1
yarl==1.4.2
